<div class="row">
  <div class="col-mx-12">
    <h4>{{selectedRecipe.name}}</h4>
  </div>
</div>  
<div class="row">
    <div class="col-mx-4;pull-left">
      <a href="#"><h5>Add Item</h5></a>
    </div>&nbsp;&nbsp;
    <div class="col-mx-4;pull-right">
      <a href="#"><h5>Remove Item</h5></a>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-mx-12" class="img-responsive" style="max-height: 50px; float: left;">
    <img [src]="selectedRecipe.imageUrl" alt="" class="img-responsive" style="max-height: 50px">
  </div>
  <div class="col-mx-12">
    <h5>{{selectedRecipe.desc}}</h5>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-mx-12">
    <h5>Ingredients</h5>
  </div>
</div>
